<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Foxic HTML Template - Index Page - Food</title>
	<link rel="shortcut icon" type="image/x-icon" href="/foxic/images/favicon.ico"/>
	<link href="/foxic/css/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="/foxic/css/vendor/vendor.min.css" rel="stylesheet">
	<link href="/foxic/css/style-food.css" rel="stylesheet">
	<link href="/fonts/icomoon/icons.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto%C2%A0Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap" rel="stylesheet">
	<style>.title-wrap .title-tabs-text .title-tabs-bg {
			-webkit-mask: url(/foxic/images/skins/food/brush-shape.svg) no-repeat 50%;
			-webkit-mask-size: contain;
		}
		.countdown-box-bg .countdown > span:after {
			-webkit-mask: url(/foxic/images/skins/food/brush-shape-square.svg) no-repeat 50%;
			-webkit-mask-size: cover;
		}
	</style>
</head>
<body>
    {{>foxicThemes/foodmarket/nav}}
    {{{body}}}
    {{>foxicThemes/foodmarket/footer}}
</body>
</html>