<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>eCommerze ile E-Ticarete Başlayın!</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/favicon.png">

    <!-- ***** All CSS Files ***** -->

    <!-- Style css -->
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <!--====== Scroll To Top Area Start ======-->
    <div id="scrollUp" title="Scroll To Top">
        <i class="fas fa-arrow-up"></i>
    </div>
    <!--====== Scroll To Top Area End ======-->

    <div class="main">
    {{>home-nav}}
    {{{body}}}
    {{>home-footer}}
    </div>
    <!-- jQuery(necessary for all JavaScript plugins) -->
    <script src="/js/jquery/jquery.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>

    <!-- Plugins js -->
    <script src="/js/plugins/plugins.min.js"></script>

    <!-- Active js -->
    <script src="/js/active.js"></script>
</body>