<!DOCTYPE html>
<html lang="tr">
<head>
  <html class="no-js" lang="zxx">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>ecommerze e-ticaret sitesi</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Place favicon.ico in the root directory -->
      <link rel="shortcut icon" type="image/x-icon" href="/img/logo/favicon.png">

      <!-- CSS here -->
      <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/animate.css">
      <link rel="stylesheet" href="/css/swiper-bundle.css">
      <link rel="stylesheet" href="/css/slick.css">
      <link rel="stylesheet" href="/css/magnific-popup.css">
      <link rel="stylesheet" href="/css/font-awesome-pro.css">
      <link rel="stylesheet" href="/css/flaticon_shofy.css">
      <link rel="stylesheet" href="/css/spacing.css">
      <link rel="stylesheet" href="/css/main.css">
   </head>
</head>
<body>
    {{>site-nav}}
    {{{body}}}
    {{>productModal}}
    {{>footer}}
    {{!-- {{>sessionFlashMessage}} --}}
</body>
</html>
