<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="/">Ana Sayfa</a></li>
                <li><span>Giriş Yap</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-18 col-lg-12">
                    <h2 class="text-center">Giriş Yap</h2>
                    <div class="form-wrapper">
                        <form action="/girisyap" method="POST">
                            
                            <div class="form-group">
                                <input type="text" class="form-control" name="userMail" placeholder="E-mail">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="userPassword" placeholder="Şifre">
                            </div>
                            <div class="text-center">
                                <button class="btn">Giriş Yap</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>