<div class="page-content">
		<div class="holder fullwidth fullwidth mt-0 full-nopad">
			<div class="container bnslider-wrapper video-section">
				<div class="video-section-wrapper bnslider keep-scale" data-start-width="1920" data-start-height="750"
					data-start-mwidth="800" data-start-mheight="680" data-desktop-height="775" data-mobile-height="375">
					<div class="video__overlay"></div>
					<div class=" video__copyright">The simplest interface for integrating YouTube</div>
					<div id="Video-001" class="video video--background" data-id="2BrX85uagD4" data-type="background"
						data-start="7" data-mute="true"></div>
					<div class="video__image box ratio-container blur-up js lazyloaded" data-parent-fit="contain"
						style="background-image: url(/foxic/images/skins/games/slider/video-screen.webp);"></div>
					<div class="video__text-content">
						<div class="container">
							<div class="bnslider-text-wrap bnslider-overlay ">
								<div class="bnslider-text-content txt-middle txt-center txt-middle-m txt-center-m">
									<div class="bnslider-text-content-flex " style="padding-top: 85.85px;">
										<div class="bnslider-vert " style="padding: 0px">
											<div class="bnslider-text order-1 mt-0 bnslider-text--lg text-center data-ini"
												data-fontcolor="#ffffff" data-fontweight="900" data-fontline="1.00"
												data-otherstyle="letter-spacing: .1em">YOUTUBE VIDEO</div>
											<div class="btn-wrap text-center  order-4 mt-md">
												<a href="../../collections/games.html" target=""
													class="btn js-video-slider-play btn--lg">Shop now</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="video-control__play-wrapper-mobile">
						<div class="video-control mb-2"><span class="video-control__play is-started"
								data-controls="Video-001"><i class="icon-play"></i></span><span
								class="video-control__pause-mobile" d-block="" data-controls="Video-001"><i
									class="icon-pause"></i></span></div>
					</div>
					<div class="video-control__play-wrapper">
						<div class="video-control video-control__pause mb-2 d-block" data-id="001" aria-live="polite"
							aria-pressed="false" data-controls="Video-001"><span class="video-stop"><i
									class="icon-play"></i></span><span class="video-play">
								<div class="video__loader foxic-loader"></div><i class="icon-pause"></i>
							</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="holder mt-0 ">
			<div class="container-fluid px-0">
				<div class="row bnr-grid no-gutters">
					<div class="col-18 col-sm-6">
						<div class="bnr-wrap d-flex align-items-center h-100 bnr-1586628920521-0">
							<div class="bnr custom-caption image-hover-scale image-hover-scale--slow bnr--middle bnr--center"
								data-fontratio=5.9>
								<div class="bnr-img  image-container" style="padding-bottom: 38.933%">
									<img data-srcset="/foxic/images/skins/games/banner-games-01.webp" class="lazyload fade-up"
										alt=""></div>
								<div class="bnr-caption" style="padding: 4% 4%; width: 100%;">
									<div class="bnr-text3 mt-0 order-1"
										style="font-size:0.15em; font-weight:700; line-height:1em">2 0 2 0</div>
									<div class="bnr-text3 mt-xs order-2 "
										style="font-size:0.4em; font-weight:800; line-height:1em;">CALL OF LIFE</div>
									<div class="bnr-text3 mt-xs order-2 "
										style="font-size:0.2em; font-weight:500; line-height:1em;">Last day, last hope
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-18 col-sm-6">
						<div class="bnr-wrap d-flex align-items-center h-100 bnr-1586628920521-1">
							<div class="bnr custom-caption image-hover-scale image-hover-scale--slow bnr--middle bnr--center"
								data-fontratio=5.9>
								<div class="bnr-img  image-container" style="padding-bottom: 38.933%">
									<img data-srcset="/foxic/images/skins/games/banner-games-02.webp" class="lazyload fade-up"
										alt=""></div>
								<div class="bnr-caption" style="padding: 4% 4%; width: 100%;">
									<div class="bnr-text3 mt-0 order-1"
										style="font-size:0.15em; font-weight:700; line-height:1em">2 0 2 0</div>
									<div class="bnr-text3 mt-xs order-2 "
										style="font-size:0.4em; font-weight:800; line-height:1em;">URMOR 5</div>
									<div class="bnr-text3 mt-xs order-2 "
										style="font-size:0.2em; font-weight:500; line-height:1em;">Show your WARFACE
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-18 col-sm-6">
						<div class="bnr-wrap d-flex align-items-center h-100 bnr-1586628920521-2">
							<div class="bnr custom-caption image-hover-scale image-hover-scale--slow bnr--middle bnr--center"
								data-fontratio=5.9>
								<div class="bnr-img  image-container" style="padding-bottom: 38.933%">
									<img data-srcset="/foxic/images/skins/games/banner-games-03.webp" class="lazyload fade-up"
										alt=""></div>
								<div class="bnr-caption" style="padding: 4% 4%; width: 100%;">
									<div class="bnr-text3 mt-0 order-1"
										style="font-size:0.15em; font-weight:700; line-height:1em">2 0 2 0</div>
									<div class="bnr-text3 mt-xs order-2 "
										style="font-size:0.4em; font-weight:800; line-height:1em;">ENEMY FIRE</div>
									<div class="bnr-text3 mt-xs order-2 "
										style="font-size:0.2em; font-weight:500; line-height:1em;">Shoot First</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{>sections/producs}}
		
		
		<div class="holder holder-subscribe-full mt-0" style="background-color: transparent;">
			<div class="container">
				<div class="row">
					<div class="col-auto">
						<div class="subscribe-form-title-lg">İndirimlerden <span class="custom-color">haberdar</span> olun</div>
						<div class="subscribe-form-title-sm">Hemen bültene kaydolun!</div>
					</div>
					<div class="col">
						<div class="subscribe-form">
							<form action="#">
								<div class="form-inline">
									<div class="form-control-wrap">
										<input type="text" class="form-control" placeholder="Mail adresinizi girin.">
										<svg preserveAspectRatio="none">
											<rect x="2" y="2" rx="6" height="100%" width="100%"></rect>
										</svg>
										<span class="bottom"></span>
									</div>
									<button type="submit" class="btn btn--lg">Abone Ol</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="holder mt-0">
			<div class="container">
				<div class="text-icn-blocks-row text-icn-blocks-row--nodivider justify-content-center">
					<div class="text-icn-block-hor">
						<div class="icn" style="color: #63555e">
							<i class="icon-speech-bubble"></i>
						</div>
						<div class="text">
							<h4>Bize Ulaşın</h4>
							<p>+{{webpageGeneral.phoneNumber}}<br>
								</p>
						</div>
					</div>
					<div class="text-icn-block-hor">
						<div class="icn" style="color: #63555e">
							<i class="icon-location"></i>
						</div>
						<div class="text">
							<h4>Konum</h4>
							<p>{{webpageGeneral.address}}</p>
						</div>
					</div>
					<div class="text-icn-block-hor">
						<div class="icn" style="color: #63555e">
							<i class="icon-watch"></i>
						</div>
						<div class="text">
							<h4>Çalışma Saatlari</h4>
							<p>Hafta İçi Her Gün<br>
								Sabah 8 Akşam 8</p>
						</div>
					</div>
					<div class="text-icn-block-hor">
						<div class="icn" style="color: #63555e">
							<i class="icon-credit-card-1"></i>
						</div>
						<div class="text">
							<h4>100% Güvenli</h4>
							<p>Hızlı & Güvenli Ödeme Seçenekleri</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>